*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #F3F3F3;
}
.feed{
    z-index: 5;
}
nav{
    background-color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 2px 15px 2px #e4e4e4;
    padding: 3%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
nav ion-icon{
    font-size: 50px;
}
footer{
    width: 100%;
    height: 11vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    box-shadow: 5px 2px 15px 2px #e4e4e4;
    background-color: white;
}
footer input{
    width: 90%;
    height: 100%;
    border: none;
}
footer ion-icon{
    font-size: 50px;
}
.login{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-start{
    width: 40vw;
    margin-top: 30%;
    margin-bottom: 25%;
}
.name{
    width: 70vw;
    height: 6vh;
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
    margin-bottom: 5%;
    border-radius: 3px;
}
.enter{
    width: 25vw;
    height: 50px;
    border-radius: 10px;
    border: none;
}
.back{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center ;
    z-index: 5;
    font-size: 19px;
}
.hid{
    width: 100%;
    height: 100vh;
    background-color: #F3F3F3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 75vh;
    z-index: 5;
    overflow-y: scroll;
    overflow-x:  hidden;
}
.textMessage{
    font-size: 18px;
    font-weight: 400;
}
.from,.to{
    font-weight: bold;
}
ul{
    max-width: 100%;
    background-color: #F3F3F3;
    z-index: 5;
}
li{
    max-width: 100%;
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
    text-justify: inter-word;
    word-wrap:break-word;
}
.private{
    background-color: #FFDEDE;
    display: none;
}
.status{
    background-color: #DCDCDC;
}
.time{
 color: gray;
}
.container::-webkit-scrollbar{
    display: none;
}
.msg ::placeholder{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}
input:focus{
    outline: 0;
}
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin-bottom: 5%;
}
@keyframes spin {
to {
    transform: rotate(360deg);
}
}
.hidden{
    display: none;
    z-index: -5;
}